node_modules
.env
.DS_Store
*.log
შეღწევადობის ტესტირება/
ADMIN_COMMANDS.md
BCRYPT_GUIDE_GE.md
ENCRYPTION_GUIDE_GE.md
GITHUB_INSTRUCTIONS.md
GUIDE_GE.md
LOGIN_LOGS_DOCS.md
SECURITY_DOCS.md
*.json
!package.json
!package-lock.json
*.txt
